body {
    background: rgb(103, 174, 187);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    font-weight: bold;
    font-size: 60px;
    margin: 30px;
    margin-bottom: 60px;
    font-style: italic;
}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
}

.btn {
    font-size: 30px;
    border-radius: 12px;
    margin: 60px;
}


